<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="static/css/Contact.css">
</head>
<body>
    <div id="Contact"></div>
  <div class="contact">
    <a href="{{ url_for('home') }}"><h1>Customer Support</h1></a>
    <div class="contact-container">
      <div class="form-container">
        <div class="left-container">
          <div class="left-inner-container">
            <h2>Get in Touch</h2>
            <br>
            <p></p>
            <p>Knowledgenest@gmail.com <br>
              Phone:(800)554-2978<br>
            </p>
          </div>
        </div>
        <div class="right-container">
          <div class="right-inner-container">
            <form id="contactForm">
              <h2 class="sm-view">Feel free to leave feedback</h2>
              <p>* Required</p>
              <input type="text" id="name" placeholder="Name *" required />
              <input type="email" id="email" placeholder="Email *" required />
              <textarea rows="4" id="message" placeholder="Message"></textarea>
              <button type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>© 2024 Knowledge Nest. All rights reserved.</p>
</footer>


</body>
</html>